<!DOCTYPE html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gnomes Helper</title>
    <!-- Bootstrap CDN -->
    <!--  CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  JS  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="panel-title" th:object="${crop}" th:with="text=${crop.id == null} ? 'Add Crop' : 'Edit ' + ${crop.name}" th:text="${text}"></h1>
            <form th:object="${crop}" class="form-horizontal" id="corp-form" method="post">
                <div class="form-group has-feedback">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Basic Info</h2>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Variety:</label>
                                    <input type="text" class="form-control" th:field="*{variety}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Notes</h2>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10 form-group">
                                    <textarea type="text" class="form-control" th:field="*{notes}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" type="submit">Confirm</button>
                        <a class="btn btn-primary" th:with="href=${crop.id == null} ? '/crops/all' : '/crops/'+ ${crop.id}" th:href="${href}" role="button">Cancel</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>